<div class="row mb-4">
    <div class="col-md-8">
        <p-tabView styleClass="hub-tab-view" (onChange)="onTabChange($event)">
            <p-tabPanel header="最新">
                <ng-template pTemplate="content">
                    <div *ngIf="recentShares$ | async as recentShares" class="share-list">
                        <div *ngFor="let share of recentShares.data" class="share-item border-bottom py-2 cursor-pointer">
                            <div class="media">
                                <img routerLink="/users/{{share.user.id}}" class="mr-3 avatar border border-light " src="{{ share.user.avatar?.url ? share.user.avatar.url : 'assets/images/avatar.jpg' }}"
                                    alt="">
                                <div class="media-body">
                                    <div>
                                        <div class="d-inline mr-3 font-weight-normal">
                                            <a routerLink="/articles/{{share.id}}">{{ share.title }}</a>
                                        </div>
                                        <div *ngIf="share.tags?.data" class="d-inline-block">
                                            <span *ngFor="let tag of share.tags.data" class="tag">{{ tag.name }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-sm-left text-right text-color-second">
                                            <span class="font-weight-normal mr-2 font-second">
                                                <a class="text-color-second" routerLink="/users/{{share.user.id}}">{{ share.user.name }}</a>
                                            </span>
                                            <span class="mr-2 number-small">分享于</span>
                                            <span class="font-second">{{ share.created_at }}</span>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <span class="mr-3">
                                                <i class="fa fa-thumbs-o-up mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.like_count }}</i>
                                            </span>
                                            <span class="mr-3">
                                                <i class="fa fa-comment-o mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.replay_count }}</i>
                                            </span>

                                            <span class="mr-3">
                                                <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.view_count }}</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination d-flex justify-content-end mt-4">
                            <p-paginator styleClass="hub-pagination" [alwaysShow]="false" [totalRecords]="recentShares.meta.pagination.total" [rows]="recentShares.meta.pagination.per_page"
                                [first]="(recentShares.meta.pagination.current_page -1) * recentShares.meta.pagination.per_page"
                                (onPageChange)="onPageChange($event, 1)"></p-paginator>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>

            <p-tabPanel header="最热">
                <ng-template pTemplate="content">
                    <div *ngIf="hotShares$ | async as hotShares" class="share-list">
                        <div *ngFor="let share of hotShares.data" class="share-item border-bottom py-2 cursor-pointer">
                            <div class="media">
                                <img routerLink="/users/{{share.user.id}}" class="mr-3 avatar border border-light " src="{{ share.user.avatar?.url ? share.user.avatar.url : 'assets/images/avatar.jpg' }}"
                                    alt="">
                                <div class="media-body">
                                    <div>
                                        <div class="d-inline mr-3 font-weight-normal">
                                            <a routerLink="/articles/{{share.id}}">{{ share.title }}</a>
                                        </div>
                                        <div *ngIf="share.tags?.data" class="d-inline-block">
                                            <span *ngFor="let tag of share.tags.data" class="tag">{{ tag.name }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 text-sm-left text-right text-color-second">
                                            <span class="font-weight-normal mr-2 font-second">
                                                <a class="text-color-second" routerLink="/users/{{share.user.id}}">{{ share.user.name }}</a>
                                            </span>
                                            <span class="mr-2 number-small">分享于</span>
                                            <span class="font-second">{{ share.created_at }}</span>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <span class="mr-3">
                                                <i class="fa fa-thumbs-o-up mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.like_count }}</i>
                                            </span>
                                            <span class="mr-3">
                                                <i class="fa fa-comment-o mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.replay_count }}</i>
                                            </span>

                                            <span class="mr-3">
                                                <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                                <i class="text-color-second number-small">{{ share.view_count }}</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination d-flex justify-content-end mt-4">
                            <p-paginator styleClass="hub-pagination" [alwaysShow]="false" [totalRecords]="hotShares.meta.pagination.total" [rows]="hotShares.meta.pagination.per_page"
                                [first]="(hotShares.meta.pagination.current_page -1) * hotShares.meta.pagination.per_page" (onPageChange)="onPageChange($event, 2)"></p-paginator>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div class="col-md-4">

    </div>
</div>