<section class="text-center">
    <form class="form-signin">
        <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="手机号码" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      
        <!-- <div class="alert alert-info" role="alert">
            This is a info alert—check it out!
        </div> -->
        <div class="text-secondary mt-2">---------- 更多登录方式 ----------</div>
        
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2 cursor-pointer"><i class="fa fa-weixin fa-lg text-primary" aria-hidden="true"></i></div>
            <div class="p-2 cursor-pointer"><i class="fa fa-github-alt" aria-hidden="true"></i></div>
        </div>

          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
</section>