<section>
    <div class="row">
        <div class="col-md-9">
            <div class="background-white p-5 border" *ngIf="article$ | async as article">

                <div class="text-center mb-5">
                    <h1 class="mb-3">{{ article.title }}</h1>
                    <div class="">
                        <span class="mr-2">
                            <i class="fa fa-clock-o mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small  pr-1">{{article.created_at}}</span>
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-thumbs-o-up mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small  pr-1">{{article.like_count}}</span>
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-comment-o mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small pr-1">{{ article.replay_count }}</span>
                        </span>

                        <span class="mr-2">
                            <i class="fa fa-eye mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small">{{ article.view_count }}</span>
                        </span>
                    </div>
                </div>

                <div [appHtml]="article.content"></div>

            </div>

            <!-- 回复列表 -->
            <div class="comment-list mt-4 background-white ">

                <div class="px-4 py-1 border-bottom">
                    <span class="mr-1">2</span>
                    <span>条回复</span>
                </div>

                <div class="comment-item border-bottom p-4">
                    <div class="media">
                        <img class="mr-3 rounded-circle" style="width: 45px;" src="assets/images/avatar.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="mb-2">
                                <span class="">Jeffrey</span>
                                <span class="float-right cursor-pointer" (click)="displayReplayDialog()">
                                    <i class="fa fa-reply text-color-second" aria-hidden="true"></i>
                                </span>
                                <span class="d-block font-small text-color-second ">10分钟前</span>
                            </div>

                            <div>
                                回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容
                            </div>

                            <div class="comment-replay p-1 mt-2 border rounded">
                                <a href="#">@刘德华：</a>福建省了房间里设计费
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-item border-bottom p-4">
                    <div class="media">
                        <img class="mr-3 rounded-circle" style="width: 45px;" src="assets/images/avatar.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <div>
                                <span class="d-block">Jeffrey</span>
                                <span class="d-block font-small text-color-second ">10分钟前</span>
                            </div>
                            <div>
                                回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 回复框 -->
            <div class="write-commnet background-white mt-4 border p-4">
                <form>
                    <textarea class="form-control" rows="6"></textarea>
                    <div class="row">
                        <div class="offset-md-9  col-md-3 col-lg-2 offset-lg-10">
                            <button type="button" class="btn btn-danger mt-2 w-100">
                                <i class="fa fa-paper-plane mr-2" aria-hidden="true"></i>发送</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-3">
            <div class="background-white p-5">fsdfsf</div>
        </div>
    </div>
</section>


<p-dialog header="Title" [(visible)]="displayReplay">
    <app-replay-article [replayArticle]="replayArticle" [replayComment]="replayComment"></app-replay-article>
</p-dialog>