.comment-replay {
    background: #f0f2f5;
}

.comment-item:last-child {
    border-bottom: none !important;
}

.comment-preview {
    border: 1px dashed rgb(204, 204, 204);
}

.comment-options span  {
    padding-left: 5px;
    padding-right: 5px;
}