<div id="test-editormd"></div>
<section>
    <div class="row">
        <div class="col-md-9" *ngIf="article">
            <div class="background-white p-5 border">
                <div class="text-center mb-5">
                    <h1 class="mb-3">{{ article.title }}</h1>
                    <div class="">
                        <span class="mr-2">
                            <i class="fa fa-clock-o mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small  pr-1">{{article.created_at}}</span>
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-thumbs-o-up mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small  pr-1">{{article.like_count}}</span>
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-comment-o mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small pr-1">{{ article.replay_count }}</span>
                        </span>

                        <span class="mr-2">
                            <i class="fa fa-eye mr-1 font-small" aria-hidden="true"></i>
                            <span class="text-color-second number-small">{{ article.view_count }}</span>
                        </span>
                    </div>
                </div>
                <div [appHtml]="article.content" id="articleContent"></div>
                <div class="article-options mt-4 text-color-second ">
                    <span class="edit cursor-pointer mr-3" routerLink="./update">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                    <span class="delete cursor-pointer mr-3">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                    <span class="like cursor-pointer" title="{{ liked ? '已赞' : '点赞' }}" (click)="toogleLike()">
                        <i class="fa fa-thumbs-o-up" [ngClass]="{'liked': liked}" aria-hidden="true"></i>
                    </span>
                </div>

            </div>

            <!-- 回复框 -->
            <div class="mt-2 p-4 background-white border">
                <textarea disabled="{{!isLogin}}" placeholder="{{isLogin ? '来说点啥~！' : '登录之后可以回复' }}" class="form-control" rows="4" [(ngModel)]="comment"
                    appAutoheight></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <ng-container *ngIf="isLogin; else goToLogin">
                        <button type="button" class="btn btn-danger" (click)="submitComment()">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            回复
                        </button>
                    </ng-container>
                    <ng-template #goToLogin>
                        <button type="button" class="btn btn-danger" (click)="login()">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            登录
                        </button>
                    </ng-template>
                </div>
                <!-- 评论预览 -->
                <div *ngIf="comment" class="comment-preview rounded p-3 mt-3">
                    <div [appHtml]="comment"></div>
                </div>

            </div>

            <!-- 回复列表 -->
            <div class="comment-list mt-4 background-white">

                <div class="px-4 py-1 border-bottom">
                    <span class="mr-1">{{ article.comments?.data.length ? article.comments?.data.length : '0' }}</span>
                    <span>条回复</span>
                </div>

                <div *ngIf="article.comments.data">
                    <div *ngFor="let comment of article.comments.data" class="comment-item border-bottom p-4">
                        <div class="media">
                            <img class="mr-3 rounded-circle" style="width: 45px;" src="{{ comment.user.avatar?.url ? comment.user.avatar.url : 'assets/images/avatar.jpg' }}">
                            <div class="media-body">
                                <div class="mb-2">
                                    <span class="">{{comment.user.name}}</span>
                                    <!-- 回复操作 -->
                                    <div *ngIf="isLogin"  class="comment-options float-right">
                                        <span class=" cursor-pointer" data-toggle="modal" (click)="replay(comment.id)">
                                            <i class="fa fa-reply text-color-second" aria-hidden="true"></i>
                                        </span>
                                        <span *ngIf="isLogin && loginedUser.id === comment.user_id" class="cursor-pointer" (click)="delete(comment)">
                                            <i class="fa fa-trash-o text-color-second" aria-hidden="true"></i>
                                        </span>
                                        <span *ngIf="isLogin && loginedUser.id === comment.user_id" class="cursor-pointer" (click)="update(comment)">
                                            <i class="fa fa-pencil-square-o text-color-second" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <span class="d-block font-small text-color-second ">{{ comment.created_at }}</span>
                                </div>

                                <div [appHtml]="comment.content"> </div>

                                <div *ngIf="comment.replayComment" class="comment-replay p-1 mt-2 border rounded">
                                    <a href="#">@{{comment.replayComment.user.name}}：</a>
                                    <div class="" [appHtml]="comment.replayComment.content "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="background-white p-5">fsdfsf</div>
        </div>
    </div>
</section>

<bootstrap-modal [options]="{'size': 'large', 'confirmButtonClass': 'btn-danger'}" [(visibel)]="modalVisibel" (confirmed)="confirmed($event)"
    title="{{ editType === 0 ? '回复评论' : '修改评论' }}">
    <div *ngIf="editType === 0" class="modal-body">
        <textarea class="form-control" rows="4" [(ngModel)]="replayCommentContent" appAutoheight></textarea>
        <div *ngIf="replayCommentContent" class="comment-preview rounded p-3 mt-3">
            <div [appHtml]="replayCommentContent"></div>
        </div>
    </div>
    <div *ngIf="editType === 1" class="modal-body">
        <textarea class="form-control" rows="4" [(ngModel)]="updateContent" appAutoheight></textarea>
        <div *ngIf="updateContent" class="comment-preview rounded p-3 mt-3">
            <div [appHtml]="updateContent"></div>
        </div>
    </div>
</bootstrap-modal>
