.question-item{
    .avatar {
        width: 50px;
    }

    .number-small, .font-small {
        font-size: 12px;
    }

    .font-second {
        font-size: 14px;
    }

    .font-third {
        font-size: 16px;
    }

    .font-large {
        font-size: 18px;
    }

    .text-color-second {
        color: #999999;
    }

    a.text-color-second:hover {
        color: #333333;
    }
}