<main class="container mt-4">
    <div class="row">
        <div class="col-lg-2 d-none d-lg-block">
            <aside>
                <h5>分类</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">PHP</li>
                    <li class="list-group-item">Mysql</li>
                    <li class="list-group-item">Linux</li>
                    <li class="list-group-item">java</li>
                    <li class="list-group-item">javascript</li>
                </ul>
            </aside>
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="article-list">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="media article-item">
                            <div class="mr-3 border rounded left-box">
                                <div class="d-flex flex-column">
                                    <div class="">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    </div>
                                    <div class="">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <img class="mr-3" src="assets/images/avatar.jpg" alt="Generic placeholder image"> -->
                            <div class="media-body">
                                <h5 class="mt-0">
                                    <a>PHP是世界上最好的语言</a>
                                </h5>
                                <div class="d-flex flex-row">
                                    <div class="p-2">Flex item 1</div>
                                    <div class="p-2">Flex item 2</div>
                                    <div class="p-2">Flex item 3</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 d-none d-md-block">
            <div style="height: 500px; background: pink;"></div>
        </div>
    </div>
</main>