<div class="row">

    <div class="col-9">
        <div class="artcle-list container">

            <div class="article-item row py-3 border-bottom">
                <div class="col-9 overflow-hidden">
                    <span class="text-nowrap">
                        <span class="avatar">
                            <img class="rounded-circle mr-1" src="assets/images/avatar.jpg" />
                        </span>
                        <span class="mr-1">
                            <a href="#" class="badge badge-light text-success px-3 rounded-0">文章</a>
                        </span>
                        你好世界哈哈呵呵京津冀你好世界哈哈呵呵京津冀你好世界哈哈呵呵京津冀
                    </span>

                </div>
                <div class="col-3 text-right">
                    <span class="mr-2">
                        <i class="fa fa-thumbs-o-up mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small border-right pr-1">100</i>
                    </span>
                    <span class="mr-2">
                        <i class="fa fa-comment-o mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small border-right pr-1">100</i>
                    </span>

                    <span class="mr-2">
                        <i class="fa fa-eye mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small">100</i>
                    </span>
                </div>
            </div>
            <div class="article-item row py-3 border-bottom">
                <div class="col-9 overflow-hidden">
                    <span class="text-nowrap">
                        <span class="avatar">
                            <img class="rounded-circle mr-1" src="assets/images/avatar.jpg" />
                        </span>
                        <span class="mr-1">
                            <a href="#" class="badge badge-light text-success px-3 rounded-0">文章</a>
                        </span>
                        你好世界哈哈呵呵京津冀你好世界哈哈呵呵京津冀你好世界哈哈呵呵京津冀
                    </span>

                </div>
                <div class="col-3 text-right">
                    <span class="mr-2">
                        <i class="fa fa-thumbs-o-up mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small border-right pr-1">100</i>
                    </span>
                    <span class="mr-2">
                        <i class="fa fa-comment-o mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small border-right pr-1">100</i>
                    </span>

                    <span class="mr-2">
                        <i class="fa fa-eye mr-1 font-small" aria-hidden="true"></i>
                        <i class="text-color-second number-small">100</i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            热门文章
            <hr>
            <div class="card-body p-1">
                <ul class="list-unstyled">
                    <li>phpkfjskfjls</li>
                    <li>phpkfjskfjls</li>
                    <li>phpkfjskfjls</li>
                    <li>phpkfjskfjls</li>
                    <li>phpkfjskfjls</li>
                </ul>
            </div>
        </div>
    </div>
</div>