.artcle-list {
    background: #ffffff;
}

.article-item {
    .avatar > img {
        width: 32px;
    }

    .badge-light.text-success:hover {
        background: #006633;
        color: #ffffff!important;
    }

    .badge-light.text-warning:hover {
        background: #ffc107!important;
        color: #ffffff!important;
    }
    .badge-light.text-primary:hover {
        background: #007bff;
        color: #ffffff!important;
    }
}

.popular-articles {
    .title {
        color: #888888;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
}