/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~simditor/styles/simditor.css";
@import "assets/prism/prism.css";

.cursor-pointer {
    cursor: pointer;
}

.simditor {
    margin-top: 20px;
}

.ui-inputtext {
    width: 100%;
}

body {
    background: #f0f2f5;
}

.tag {
    border: 1px solid #000033;
    padding: 2px 7px;
    color: #000033;
    font-size: 12px;
    margin-right: 4px;
}

.tag:hover {
    color: burlywood;
}

// prime 默认的tabView样式修改
.hub-tab-view {
    ul.ui-tabview-nav {
        border-bottom: 1px solid #d6d6d6!important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    li.ui-state-default {
        background: white!important;
        border:none;
        border-bottom: 1px solid #d6d6d6 !important;
        margin: 0px!important;
    }
    li.ui-state-active {
        border: 1px solid #d6d6d6;
        border-bottom: 0!important;
    }
}

// prime 默认分页样式修改
.hub-pagination {
    background: #ffffff;
    border: none;
}
